.home-main::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assests/LOGO backgound.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}
.home-main::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 60px;
    right: 0;
    bottom: 0;
    background-image: url('../../assests/myphoto-small.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: left bottom;
}

@media screen and (min-width: 390px) {
    .home-main::after {
        left: 30px;
        background-size: 500px;
    }
}
@media screen and (min-width: 400px) {
    .home-main::after {
        left: 30px;
        background-size: 540px;
    }
}
@media screen and (min-width: 640px) {
    .home-main::after {
        left: 10px;
        background-size: 620px;
    }
}
@media screen and (min-width: 768px) {
    .home-main::after {
        left: 0px;
        background-size: 620px;
    }
    .home-main::before {
        background-size: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .home-main::after {
        height: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .home-main::after {
        background-size: 640px;
    }
}