@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: black;
  --secondary-color: #ff6600;
  --tertiary-color: white;
}

* {
  /* outline: 1px dashed red; */
  margin: 0;
  padding: 0;
  color: white;
}

h1,h2,h3{
  font-family: "VT323", 'Roboto';
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}

body {
  font-family: "Anonymous Pro", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  /* padding-left: 60px;
  padding-right: 60px; */
}

.loadingscreen {
  --animation-play-time: 1s;
}
.loadingscreen .logo-icon-1 {
  animation: moveX1 var(--animation-play-time) ease-in-out infinite alternate;
}
.loadingscreen .logo-icon-2 {
  animation: moveXY2 var(--animation-play-time) ease-in-out infinite alternate;
}
.loadingscreen .logo-icon-3 {
  animation: moveX3 var(--animation-play-time) ease-in-out infinite alternate;
}
/* .loadscreen .stopanimate{
  animation-play-state: paused;
} */

@keyframes moveX1 {
  from {
    transform: translate(10px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes moveXY2 {
  from {
    transform: translate(-3px, 20px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes moveX3 {
  from {
    transform: translate(-14px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

/* .loadingscreen #loading-screen-1 {
  animation: loadingScreen1 var(--animation-play-time) ease-in-out 5s forwards;
}
.loadingscreen #loading-screen-2 {
  animation: loadingScreen2 var(--animation-play-time) ease-in-out 5s forwards;
}
.loadingscreen #loading-screen-3 {
  animation: loadingScreen3 var(--animation-play-time) ease-in-out 5s forwards;
}
@keyframes loadingScreen1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loadingScreen2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes loadingScreen3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
} */

